<template>
  <div class="hoja col-12 col-md-8 col-lg-6">
    <div class="header">
      <div class="titulo">{{ personales.nombre_completo }}</div>
      <div class="line"></div>
    </div>
    <perfil-tecnico></perfil-tecnico>
    <perfil-laboral></perfil-laboral>
    <perfil-personal></perfil-personal>
  </div>
</template>

<script>
import { mapState } from "vuex";
import perfil_laboral from "./perfil_laboral";
import perfil_tecnico from "./perfil_tecnico";
import perfil_personal from "./perfil_personal";
export default {
  components: {
    "perfil-laboral": perfil_laboral,
    "perfil-tecnico": perfil_tecnico,
    "perfil-personal": perfil_personal,
  },
  computed: mapState({
    personales: (state) => state.datos.personales,
  }),
  data() {
    return {};
  },
};
</script>

<style lang="scss">
.hoja {
  padding-top: 1em;
  padding-bottom: 1em;
  min-height: 100vh;
  background: #ffffff;
  & > div {
    padding-left: 2em;
    padding-right: 2em;
  }
}
.header {
  .titulo {
    font-size: 28px;
    line-height: 33px;
  }
  .line {
    height: 1px;
    width: 100%;
    margin: 5px -1px;
    background: $primary-color;
  }
}
.break-enter {
  white-space: pre-line;
}
</style>