<template>
  <div class="laboral">
    <div class="titulo">Perfil Laboral</div>
    <div class="contenido">
      <div
        class="item"
        v-for="item in laborales.experiencia"
        :key="'LE ' + item.orden"
      >
        <div class="lugar">
          {{ item.lugar }}
          <p class="periodo" v-if="item.periodo">({{ item.periodo }})</p>
        </div>
        <div class="actividades">
          Actividades: {{ entre_comas(item.actividades) }}
        </div>
        <div class="contacto">Contacto: {{ item.contacto }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: mapState({
    laborales: (state) => state.datos.laborales,
  }),
  methods: {
    entre_comas(valores) {
      let ret = "";
      for (let i in valores) {
        let val = valores[i];
        let len = val.length;
        val = val.lastIndexOf(".") == len - 1 ? val.substring(0, len - 1) : val;
        ret = ret + (i > 0 ? ", " : "") + val;
      }
      return ret + ".";
    },
  },
};
</script>

<style lang="scss" scoped>
.laboral {
  padding-top: 1em;
}
.contenido {
  padding: 0.25em 1%;
  .item {
    padding: 0.25em 1em;
  }
  .lugar {
    font-size: 14px;
    line-height: 22px;
    .periodo {
      margin: 0;
      font-size: 11px;
      line-height: 16px;
      display: contents;
    }
  }
  .contacto,
  .actividades {
    font-size: 12px;
    line-height: 14px;
  }
}
</style>
