<template>
  <div class="tecnico">
    <div class="titulo">Perfil Técnico</div>
    <div class="contenido">
      <div class="columna">
        <ul>
          Principales
          <li v-for="val in tecnicos.principales" :key="'TP ' + val.orden">
            {{ val.titulo ? val.titulo + ":" : "" }} {{ val.detalles }}
          </li>
        </ul>
      </div>
      <div class="columna">
        <ul>
          Secundarios
          <li v-for="val in tecnicos.secundarios" :key="'TS ' + val.orden">
            {{ val.titulo ? val.titulo + ":" : "" }} {{ val.detalles }}
          </li>
        </ul>
      </div>
      <div class="columna">
        <ul>
          Extras
          <li v-for="val in tecnicos.extras" :key="'TE ' + val.orden">
            {{ val.titulo ? val.titulo + ":" : "" }} {{ val.detalles }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: mapState({
    tecnicos: (state) => state.datos.tecnicos,
  }),
};
</script>

<style lang="scss" scoped>
.tecnico {
  padding-top: 1em;
}
.contenido {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.25em;
  word-break: break-word;
  & > .columna {    
    flex: 0 0 98%;
    @media (min-width: 576px) {
      flex: 0 0 48%;
    }
    margin: 0 1%;
  }
  .columna {
    ul {
      line-height: 2em;
      padding-left: 1em;
    }
    li {
      line-height: initial;
      &::marker {
        font-size: 18px;
        color: $primary-color;
      }
    }
  }
}
</style>
