<template>
  <div class="personal">
    <div class="titulo">Perfil Personal</div>
    <div class="contenido">
      <div class="columna">
        <ul class="datos-personales">
          Datos Personales
          <li v-for="val in personales.datos" :key="'PD ' + val.orden">
            {{ val.titulo ? val.titulo + ":" : "" }} {{ val.valor }}
          </li>
        </ul>
      </div>
      <div class="columna">
        <ul>
          Formación Académica
          <li
            class="break-enter"
            v-html="val.detalles"
            v-for="val in personales.educacion"
            :key="'PA ' + val.orden"
          ></li>
        </ul>
      </div>
      <div class="about-me">
        <div class="about-me-title">Sobre mi</div>
        <div class="about-me-text break-enter">{{ personales.about_me }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  computed: mapState({
    personales: (state) => state.datos.personales,
  }),
  data() {
    return {};
  },
};
</script>

<style lang="scss" scoped>
.personal {
  padding-top: 1em;
}
.contenido {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0.25em;
  word-break: break-word;
  & > .columna {    
    flex: 0 0 98%;
    @media (min-width: 576px) {
      flex: 0 0 48%;
    }
    margin: 0 1%;
  }
  & > .about-me {
    flex: 0 0 98%;
    margin: 0 1%;
  }
  .columna {
    ul {
      line-height: 2em;
      padding-left: 1em;
    }
    li {
      line-height: initial;
      &::marker {
        font-size: 18px;
        color: $primary-color;
      }
    }
  }
  .about-me {
    padding-left: 1em;
    line-height: calc(1em + 2px);
    .about-me-title {
      line-height: 2em;
    }
  }
}
</style>
