@import "~bootstrap/scss/bootstrap";
@import "./variables";

html,
body {
  margin: 0;
  color: #000000;
  background-color: $secondary-color;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  min-height: 100vh;
}

.titulo {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: $primary-color;
}

//
