<template>
  <div class="container">
    <div class="row justify-content-center">
      <curriculum-vitae></curriculum-vitae>
    </div>
  </div>
</template>
<script>
import curriculum from "./cv/curriculum";
export default {
  components: {
    "curriculum-vitae": curriculum,
  },
};
</script>
